body{
	margin: 0px;
}
nav{
	background-color:black;
	position:fixed;
	width: 100vw;
}
.nav, .container{
	display: flex;
	flex-wrap:wrap;
	align-content:center;
	justify-content:space-between;
	align-content: center;
}
footer {
	margin-top:-10px;
	color: white;
	background-color:black;
}
a{
	text-decoration:none;
	color: white;
}
ul{
	margin-right:25px;
}
ul li{
	list-style-type: none;
}
a:hover{
	color:red;
}
img{
	width: 100vw;
	height: 100vh;
}